@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");

body {
   font-family: "Inter", sans-serif;
   font-size: 28px;
   font-weight: 600;
   color: #212B36;
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}
/* ================================= */
[class*="__container"] {
   max-width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

/* ================================= */

.page {
   padding-top: 50px;
}
.page__transition {
   max-width: 200px;
   margin: 0 auto;
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   column-gap: 15px;
   row-gap: 5px;
   border: 1px solid #E7E7E7;
   border-radius: 10px;
}
.page__page-index {}
.page__page-2 {}
.page-index,
.page-2 {
   padding: 5px;
   background: #FAFAFA;
   border: 1px solid #E7E7E7;
   border-radius: 10px;
   text-align: center;
   transition: background 0.3s;
}
.page-index__link,
.page-2__link {
   font-size: 16px;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 1.5;
   transition: color 0.3s;
}
.page-index:hover {
   background: #FFF;
}
.page-2:hover {
   background: #FFF;
}
.page-index:hover .page-index__link {
   color: #637381;
}
.page-2:hover .page-2__link {
   color: #637381;
}

/* ================================= */

.page__recent-items {
   padding-top: 80px;
}
.recent-items {}
.recent-items__container {}
.recent-items__title-block {}
.block-title {
   max-width: 570px;
   margin: 0 auto;
}
.block-title:not(:last-child) {
   margin-bottom: 70px;
}
.block-title__item-title {
   margin-bottom: 8px;
   text-align: center;
}
.block-title__item-title:hover .link-title{
   text-decoration: underline;
}
.block-title__link-title {}
.block-title__title {}
.block-title__sub-title {}

@media (max-width: 991.98px) {
   .page {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   .page__recent-items {
      padding-top: 50px;
   }
   .block-title:not(:last-child) {
      margin-bottom: 50px;
   }
   .title {
      font-size: 35px;
   }
}

@media (max-width: 767.98px) {
   .page {
      padding-top: 20px;
      padding-bottom: 20px;
   }
   .page__recent-items {
      padding-top: 30px;
   }
   .block-title:not(:last-child) {
      margin-bottom: 30px;
   }
   .title {
      font-size: 30px;
   }
}

@media (max-width: 479.98px) {
   .page {
      padding-top: 15px;
      padding-bottom: 15px;
   }
   .page__recent-items {
      padding-top: 20px;
   }
   .block-title:not(:last-child) {
      margin-bottom: 15px;
   }
   .title {
      font-size: 20px;
   }
   .sub-title {
      font-size: 18px;
   }
}
/* ------------------------- */
.recent-items__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}
.recent-items__item {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(30px, auto) / 1fr;
}
.recent-items__image {
   margin-bottom: 20px;
}
.recent-items__link {
   display: block;
   position: relative;
   overflow: hidden;
   padding-bottom: 111.111111%; /* 300/270 */
   border-radius: 5px;
}
.recent-items__link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.8s;
}
.recent-items__link:hover img {
   transform: scale(1.17);
}
.recent-items__price-block {
   margin-bottom: 4px;
}
.recent-items__description {}
.price-block {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   column-gap: 10px;
   row-gap: 5px;
}
.price-block__title {
   flex-grow: 1;
   font-size: 20px;
   line-height: 1.3; /* 26/20 */
   text-transform: capitalize;
}
.price-block__price {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   color: #3056D3;
}
.description {}
.description__link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   color: #637381;
   text-transform: capitalize;
   transition: color 0.3s;
}
.recent-items__description:hover .description__link {
   color: #212B36;
}

@media (max-width: 991.98px) {
   .recent-items__grid {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 767.98px) {
   .recent-items__grid {
      gap: 20px;
   }
}

@media (max-width: 567.98px) {
   .recent-items__grid {
      grid-template-columns: 1fr;
   }
}

/* ================================= */

.page__trending-items {
   padding-top: 120px;
}
.trending-items {}
.trending-items__container {}
.trending-items__title-block {}

@media (max-width: 991.98px) {
   .page__trending-items {
      padding-top: 80px;
   }
}

@media (max-width: 767.98px) {
   .page__trending-items {
      padding-top: 50px;
   }
}

@media (max-width: 479.98px) {
   .page__trending-items {
      padding-top: 30px;
   }
}
/* ------------------------- */
.trending-items__flex {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
/* .trending-items__flex:nth-child(even) {
   flex-direction: row-reverse;
} */

.trending-items__column-big {
   flex: 0 1 57.264957%; /* 670/1170 */
   border: 1px solid #E7E7E7;
   border-radius: 8px;
}
.trending-items__item-big {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto auto / 1fr;
}
.trending-items__image-big {}
.trending-items__link-big {
   display: block;
   position: relative;
   padding-bottom: 52.245509%; /* 349/668 */
   overflow: hidden;
}
.trending-items__link-big img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 7px 7px 0px 0px;
   transition: transform 0.8s;
}
.trending-items__link-big:hover img {
   transform: scale(1.17);
}

.trending-items__text {
   padding: 30px;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}
.trending-items__categories-flex {}
.categories-flex {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   row-gap: 3px;
}
.categories-flex__left {}
.categories-flex__link-left {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   text-transform: capitalize;
   color: #637381;
   transition: color 0.3s;
}
.categories-flex__left:hover .categories-flex__link-left{
   color: #212B36;
}
.categories-flex__right {}
.categories-flex__link-right {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   text-transform: capitalize;
   color: #3056D3;
   transition: text-decoration 0.3s;
}
.categories-flex__right:hover .categories-flex__link-right{
   text-decoration: underline;
}

.trending-items__title-big {
   flex-grow: 1;
}
.trending-items__transition {
   line-height: 1.25; /* 35/28 */
   transition: color 0.3s;
}
.trending-items__title-big:hover .trending-items__transition {
   color: #637381;
}

.trending-items__price-flex {
   display: flex;
   gap: 10px;
}
.price-flex {}
.price-flex__old {
   font-size: 18px;
   line-height: 1.33; /* 24/18 */
   color: #B1B4B7;
   text-decoration: line-through;
}
.price-flex__new {
   font-size: 18px;
   line-height: 1.33; /* 24/18 */
}
/* ------------------------- */
.trending-items__column-little {
   flex: 0 1 40%; /* 468/1170 */
   border: 1px solid #E7E7E7;
   border-radius: 8px;
}
.trending-items__item-little {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto auto / 1fr;
}
.trending-items__image-little {}
.trending-items__link-little {
   display: block;
   position: relative;
   padding-bottom: 74.57265%; /* 349/468 */
   overflow: hidden;
}
.trending-items__link-little img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 7px 7px 0px 0px;
   transition: transform 0.8s;
}
.trending-items__link-little:hover img {
   transform: scale(1.17);
}

.trending-items__right {}
.trending-items__link-right {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   text-transform: capitalize;
   color: #637381;
   transition: color 0.3s;
}
.trending-items__right:hover .trending-items__link-right{
   color: #212B36;
}
.trending-items__title-little {
   flex-grow: 1;
}
.trending-items__title-little:hover .trending-items__transition {
   color: #637381;
}
.trending-items__price {
   font-size: 18px;
   line-height: 1.33; /* 24/18 */
}

@media (max-width: 1126px) {
   .trending-items__flex {
      gap: 10px;
   }
}

@media (max-width: 767.98px) {
   .trending-items__transition {
      font-size: 24px;
   }
   .categories-flex {
      display: flex;
      flex-direction: column;
      row-gap: 3px;
   }
   .categories-flex__link-left, 
   .categories-flex__link-right, 
   .trending-items__link-right {
      font-size: 18px;
      line-height: 1.33; /* 24/18 */
   }
}

@media (max-width: 667.98px) {
   .trending-items__column-big, 
   .trending-items__column-little {
      flex: 0 1 100%;
   }
   .categories-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 30px;
      row-gap: 3px;
   }
}

@media (max-width: 391.98px) {
   .categories-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 3px;
   }
   .trending-items__price-flex {
      justify-content: center;
   }
}

/* ================================= */

.page__shop-block {
   padding-top: 120px;
}

@media (max-width: 991.98px) {
   .page__shop-block {
      padding-top: 80px;
   }
}

@media (max-width: 767.98px) {
   .page__shop-block {
   padding-top: 50px;
   }
}

@media (max-width: 479.98px) {
   .page__shop-block {
   padding-top: 30px;
   }
}
.shop-block {}
.shop-block__container {}
/* ------------------------- */
.shop-block__text-part {}
.shop-block__text-part:not(:last-child) {
   margin-bottom: 70px;
}
.text-part {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   column-gap: 30px;
   row-gap: 15px;
}
.text-part__title-part {}
.text-part__title {
   margin-bottom: 14px;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.25; /* 45/36 */
}
.text-part__sub-title {
   max-width: 510px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   color: #637381;
}
.text-part__button {
   padding: 3px 30px 8px;
   border: 1px solid #3056D3;
   border-radius: 4px;
   transition: background-color 0.3s;
}
.text-part__link {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   color: #3056D3;
   transition: color 0.3s;
}
.text-part__button:hover {
   background-color: #3056D3;
}
.text-part__button:hover .text-part__link{
   color: #fff;
}

@media (max-width: 991.98px) {
   .shop-block__text-part:not(:last-child) {
      margin-bottom: 50px;
   }
   .text-part__title {
      font-size: 34px;
   }
}

@media (max-width: 767.98px) {
   .shop-block__text-part:not(:last-child) {
      margin-bottom: 30px;
   }
   .text-part__title {
      font-size: 32px;
   }
   .text-part__sub-title {
      max-width: 410px;
   }
}

@media (max-width: 667.98px) {
   .text-part__title {
      font-size: 30px;
   }
   .text-part {
      flex-wrap: wrap;
   }
}
/* ------------------------- */
.shop-block__items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}
.shop-block__item {
   padding: 12px 12px 25px 12px;
   border: 1px solid #E7E7E7;
   border-radius: 12px;
   display: grid;
   grid-auto-flow: row;
   grid-template: auto auto / 1fr;
   align-content: start;
}
.shop-block__image {}
.shop-block__image:not(:last-child) {
   margin-bottom: 25px;
}
.shop-block__link {
   display: block;
   position: relative;
   padding-bottom: 66.473988%; /* 230/346 */
   overflow: hidden;
   border-radius: 8px;
}
.shop-block__link img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
   transition: transform 0.8s;
}
.shop-block__link:hover img {
   transform: scale(1.17);
}
.shop-block__text {
   padding-left: 13px;
   padding-right: 13px;
}
.shop-block__wrapper-hashtag {}
.shop-block__hashtag {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   color: #637381;
   transition: color 0.3s;
}
.shop-block__hashtag:not(:last-child) {
   margin-bottom: 5px;
}
.shop-block__wrapper-hashtag:hover .shop-block__hashtag{
   color: #212B36;
}
.shop-block__title {
   font-size: 24px;
   line-height: 1.25; /* 30/24 */
   text-transform: capitalize;
}

@media (max-width: 767.98px) {
   .shop-block__items {
      grid-template-columns: repeat(2, 1fr);
   }
   .shop-block__hashtag {
      font-size: 18px;
   }
}

@media (max-width: 697.98px) {
   .shop-block__items {
      gap: 15px;
   }
   .shop-block__title {
      font-size: 22px;
   }
}

@media (max-width: 567.98px) {
   .shop-block__items {
      grid-template-columns: 1fr;
   }
}

/* ================================= */

.page__top-items {
   padding-top: 120px;
   padding-bottom: 120px;
}

@media (max-width: 991.98px) {
   .page__top-items {
      padding-top: 80px;
      padding-bottom: 80px;
   }
}

@media (max-width: 767.98px) {
   .page__top-items {
   padding-top: 50px;
   padding-bottom: 50px;
   }
}

@media (max-width: 479.98px) {
   .page__top-items {
   padding-top: 30px;
   padding-bottom: 30px;
   }
}
/* ------------------------- */
.top-items {}
.top-items__container {}

.top-items__grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   align-items: start;
}

.top-items__item {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(36px, auto) / 1fr;
   row-gap: 20px;
}

.top-items__image {}
.top-items__link {
   display: block;
   position: relative;
   overflow: hidden;
   padding-bottom: 92.592593%; /* 250/270 */
}
.top-items__link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 5px;
   transition: transform 0.8s;
}
.top-items__link:hover img {
   transform: scale(1.17);
}

.top-items__text-block {
   flex-grow: 1;
   padding-left: 5px;
   padding-right: 5px;
   text-align: center;
}
.top-items__title {
   margin-bottom: 5px;
   font-size: 20px;
   line-height: 1.3; /* 26/20 */
   text-transform: capitalize;
}
.top-items__flex-price {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   column-gap: 8px;
   row-gap: 5px;
}
.top-items__old-price {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   text-decoration: line-through;
   color: #637381;
}
.top-items__new-price {
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
}

.top-items__button {}
.top-items__link-button {
   display: block;
   width: 115px;
   padding: 8px 20px;
   margin: 0 auto;
   text-align: center;
   font-size: 14px;
   line-height: 1.4; /* 20/14 */
   border: 1px solid #212B36;
   border-radius: 4px;
   transition: all 0.3s;
}
.top-items__button:hover .top-items__link-button {
   background: #212B36;
   color: #FFFFFF;
}

@media (max-width: 867.98px) {
   .top-items__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
   }
}

@media (max-width: 567.98px) {
   .top-items__grid {
      grid-template-columns: 1fr;
   }
}